
// define top fixed menu elements
.fixed-elements {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: auto;
    z-index: 3;
    justify-content: flex-end;
    padding: 2rem;

    button {
        white-space: nowrap;
    }

    a.btn.btn-extra {
        background-color: $theme-green;
        color: $theme-white;
        padding: 8px 32px;
        box-shadow: 0 5px 30px 0px $theme-gray;
    }

    }
    #menu-controler {        
        --slide-down-icon-color: #{$theme-green};
        --icon-size: 2.5rem;
        z-index: 1;
        cursor: pointer;
        height: 2.5rem;
        display: flex;

    .menu-icon {
        position: absolute;
        width: var(--icon-size);
        height: var(--icon-size);
        backdrop-filter: drop-shadow(4px 4px 10px blue);
    }

    input {
        position: relative;
        width: var(--icon-size);
        height: var(--icon-size);
        opacity: 0;
        z-index: 2;
        }

    input:checked ~ .menu-icon {
        background: linear-gradient(
            transparent 40%,
            var(--slide-down-icon-color) 40%,
            var(--slide-down-icon-color) 60%,
            transparent 60%
        ),
        linear-gradient(
            90deg,
            transparent 40%,
            var(--slide-down-icon-color) 40%,
            var(--slide-down-icon-color) 60%,
            transparent 60%
        );
        transform: rotate(45deg);
    }

    input ~ .menu-icon {
        background: linear-gradient(
            var(--slide-down-icon-color) 20%,
            transparent 20%,
            transparent 40%,
            var(--slide-down-icon-color) 40%,
            var(--slide-down-icon-color) 60%,
            transparent 60%,
            transparent 80%,
            var(--slide-down-icon-color) 80%
        ),
        transparent;
        transform: rotate(0);
    }
}

// the slide down panel
.slide-down-panel {
    --height: var(--slide-down-menu-height);
    position: fixed;
    top: calc(var(--height) * -1);
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $theme-beige;
    box-shadow: 0px 5px 35px 0px #00000088;
    transition: all 350ms ease-in-out;
    z-index: 1;
    @media screen and (min-width: 640px) {
        padding: 6rem 1rem 2rem 1rem;
    }

    .brand {
        position: absolute;
        left: 1rem;
        top: 2rem;
        min-width: 10vw;
        img {
            width: 100%;
        }
        @media screen and (min-width: 480px) {
            left: 50%;
            transform: translateX(-50%);
        }
        @media screen and (min-width: 640px) {
            display: block;
            width: 150px;
            height: 150px;
        }
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 640px) {
            flex-direction: row;
        }
        a {
            text-decoration: none;
            color: black;
            padding: 0.1rem 0.8rem;
            text-transform: uppercase;
            border-top: 1px solid #00000088;
            text-align: center;
            transition: all 150ms ease;
            font-weight: map-get($font-menu, "weight");
            font-size: 1.1rem;

        &:first-child {
            border: 0;
        }

        &:hover {
            font-weight: bold;
            transform: scale(1.1);
            text-shadow: 0 0 3px #00000022;
            transition: all 150ms ease;
        }

        @media screen and (min-width: 640px) {
            border-top: 0;
            border-left: 1px solid #00000088;
        }
        }
    }
}
// attends to javascript
.slide-down-isopened {
    top: 0px !important;
}
    