// color pallete
@use "sass:color";

$theme-yellow:          hsl(39, 42%, 58%);
$theme-yellow-light:    hsl(39, 42%, 78%);
$theme-yellow-bright:   hsl(41, 40%, 91%);
$theme-yellow-dark:     hsl(39, 42%, 38%);
$theme-green:           hsl(84, 15%, 35%);
$theme-green-light:     hsl(84, 15%, 50%);
$theme-green-dark:      hsl(84, 15%, 15%);
$theme-gray:            hsl(0, 0%, 41%);
$theme-gray-dark:       hsl(0, 0%, 21%);
$theme-gray-light:      hsl(0, 0%, 71%);
$theme-white:           hsl(0, 0%, 97%);
$theme-black:           hsl(0, 0%, 15%);
$theme-beige:           hsl(21, 18%, 75%);
$theme-background:      #F6F5F0;

$theme-primary:     $theme-green;
$theme-secondary:   $theme-yellow;
$theme-danger:      coral;
$theme-alert:       gold;
$theme-sucess:      $theme-green-light;
$theme-light:       $theme-white;
$theme-dark:        $theme-black;

// bootstrap overhides
$buttons:   
    "primary"           $theme-primary      white 0,
    "secondary"         $theme-secondary    white 0,
    "light"             $theme-light        black 0,
    "dark"              $theme-dark         white 0,
    "outline-primary"   $theme-primary      white 1,
    "outline-secondary" $theme-secondary    white 1,
    "outline-light"     $theme-light        white 1,
    "outline-dark"      $theme-dark         white 1,
    "danger"            $theme-danger       white 0,
    "alert"             $theme-alert        white 0,
    "sucess"            $theme-sucess       white 0,
    "success"           $theme-sucess       white 0;

@each $class, $bg, $color, $outline in $buttons {
    a.btn.btn-#{$class} {
        transform-origin: center;
        transition: all 400ms ease;
        border: #{$outline}px solid #{$bg};
        border-radius: 999px;
        padding: 0.8rem 1.4rem;
        margin: 16px 8px!important;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font: var(--font-button);
        transform: translateX(-4px);
        @if $outline==0 {
            background-color: #{$bg};
            color: #{$color};
        }
        @if $outline!=0 {
            background-color: transparent;
            color: #{$bg};
        }
        &:hover {
            transform: scale(1.05) translateX(-4px);
            transition: all 400ms ease;
            box-shadow: 0 0 5px 0 #0008;
        }
        &:focus {
            border: 0;
            outline: 0;
        }
        &:first-child{
            margin-left: 0 !important;
        }
        &:last-child{
            margin-right: 0 !important;
        }
    }
}


.h1 {
    font: var(--font-h1);
}
.h2 {
    font: var(--font-h1);
}

.p {
    font: var(--font-h2);
    color: black;
}

// cards
h1.card-title {
   font: var(--font-h1-card);
}

h5.card-title {
    font: var(--font-h5-card);
}

h4 {
    font: var(--font-h4-card);
    color: $theme-yellow;
}

.newsletter {
    background-color: $theme-green;
    height: 30vh;
    .newsletterform {
        background-color: white;
        border-radius: 8px;
    }
}

.ending-logo {
    width: 10vw;
    min-width: 200px;
    margin: 32px 0px;
}


.btn-send {
    background-color: $theme-yellow;
    padding: 12px 24px;
    color: white;
    border-radius: 8px;
    align-self: end;
}

.collection-2col-strips {
    height: auto;
}

.left-content-with-cards {
    background: $theme-yellow;
    div.card {
        border: 0;
        background-color: transparent;
    }
}