// typography
@mixin text-transform() {
	text-transform: uppercase;
	letter-spacing: .1em;
}

@mixin text-link() {
	text-decoration: underline;
	@include text-underline-position(under);
}

body {
	font-family: $font-primary;
    font-size: calc((12px + (22 - 12) * ((100vw - 300px) / (1800 - 300))));
	// font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    
    //font-size: $font-size-regular;
    font-weight: $font-weight-light;
	line-height: 1;
	text-align: left;
	
	@include for-phone-only {
		font-size: 15px !important;
	}
}

strong {
    font-weight: $font-weight-extra-bold;
}

p {
	font-size: calc(#{$font-size-large} * 0.8);
    font-family: $font-extra;
    font-weight: $font-weight-light;
    letter-spacing: .025em;
    
	line-height: $line-height-large;

	&+p {
		margin-top: $space-x-small;
	}
    
    &.small {
        //font-size: $font-size-small;
    }
    
    a {
        @include text-link();
    }
	
	@include for-phone-only {
		font-size: $font-size-mobile-small;
		
		&+p {
			margin-top: $space-mobile;
		}
	}
}

// headlines
.h1,
.h2,
.h3 {
    font-family: $font-primary;
    
    a {
        @include text-link();
    }
}

.h4,
.h5,
.h6 {
    font-family: $font-secondary;
    
    a {
        @include text-link();
    }
}

.h1,
.h2,
.h3 {
    font-weight: $font-weight-bold !important;
}

.h4,
.h5,
.h6 {
    font-weight: $font-weight-medium !important;
}

// sizes
.h1 {
	font-size: $font-size-xx-large;
	line-height: $line-height-small;
	margin-bottom: $space-x-small!important;
    
    @include for-phone-only {
		font-size: $font-size-mobile-large;
        line-height: $line-height-small;
	}
}

.h2 {
	font-size: $font-size-x-large;
	line-height: $line-height-regular;
	margin-bottom: $space-x-small!important;
	
	@include for-phone-only {
		font-size: calc(#{$font-size-mobile} * 1.25);
        line-height: $line-height-small;
	}
}

.h3 {
	font-size: $font-size-large;
	line-height: $line-height-regular;
	margin-bottom: $space-x-small!important;
	
	@include for-phone-only {
		font-size: $font-size-mobile;
        line-height: $line-height-regular;
	}
}

.h4 {
	font-size: $font-size-x-large;
	line-height: $line-height-regular;
	margin-bottom: $space-x-small!important;
    
	@include for-phone-only {
		font-size: $font-size-mobile;
        line-height: $line-height-regular!important;
	}
}

.h5 {
    font-size: $font-size-large;
	line-height: $line-height-regular;
	margin-bottom: $space-x-small!important;
    
    font-weight: $font-weight-bold !important;
    
    @include for-phone-only {
		font-size: $font-size-mobile-small;
        line-height: $line-height-regular;
	}
}

.h6 {
    font-size: $font-size-large;
	line-height: $line-height-regular;
	margin-bottom: $space-x-small!important;
    
    @include for-phone-only {
		font-size: $font-size-mobile-small;
        line-height: $line-height-regular;
	}
}