// typography
@mixin text-transform() {
	text-transform: uppercase;
	letter-spacing: .1em;
}

@mixin text-link() {
	text-decoration: underline;
	@include text-underline-position(under);
}

body {
	font-family: $font-primary;
}

strong {
    font-weight: $font-weight-extra-bold;
}

.h6 {
    font-size: $font-size-large;
	line-height: $line-height-regular;
	margin-bottom: $space-x-small!important;
    
    @include for-phone-only {
		font-size: $font-size-mobile-small;
        line-height: $line-height-regular;
	}
}